<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg d-flex d-lg-block justify-content-between d-xl-flex navbar-light py-3 py-lg-0">
                    <a class="navbar-brand" href="~/assets/#">
                        <img src="~/assets/img/logo.png" alt="" id="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation" id="mobile-navbar-show">
                        <span class="navbar-toggler-icon" style="font-size: 12px;"></span>
                    </button>

                    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/assets/#">Home</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="~/assets/">Home 1</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Home 2</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Home 3</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/assets/#">Pages</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="~/assets/">Page 1</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Page 2</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Page 3</a></li>
                                </ul>
                            </li>
                            <li class="nav-item shop-li">
                                <a class="nav-link" href="~/assets/#">Shop</a>
                                <div class="container">
                                    <div class="row shop py-5">
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Product Types</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Shop Pages</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Pages 1</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Pages 2</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Pages 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Shop Types</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Types 1</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Types 2</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Types 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="item px-4">
                                                <h5>Shop Layouts</h5>
                                                <ul class="list-unstyled py-3">
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Layouts 1</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Layouts 2</a></li>
                                                    <li class=""><a class="px-3" href="~/assets/">Shop Layouts 3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/assets/#">Portfolio</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="~/assets/">Portfolio 1</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Portfolio 2</a></li>
                                    <li class="">
                                        <a class="px-1 mr-5" href="~/assets/">Portfolio 3</a>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                        <ul class="list-unstyled py-3">
                                            <li class=""><a class="px-3" href="~/assets/">Shop Layouts 1</a></li>
                                            <li class=""><a class="px-3" href="~/assets/">Shop Layouts 2</a></li>
                                            <li class=""><a class="px-3" href="~/assets/">Shop Layouts 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/assets/#">Blog</a>
                                <ul class="list-unstyled py-3">
                                    <li class=""><a class="px-1" href="~/assets/">Blog 1</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Blog 2</a></li>
                                    <li class="">
                                        <a class="px-1 mr-5" href="~/assets/">Blog 3</a>
                                        <i class="fas fa-chevron-right fa-sm"></i>
                                        <ul class="list-unstyled py-3">
                                            <li class=""><a class="px-3" href="~/assets/">Blog Layouts 1</a></li>
                                            <li class=""><a class="px-3" href="~/assets/">Blog Layouts 2</a></li>
                                            <li class=""><a class="px-3" href="~/assets/">Blog Layouts 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/assets/#">Elements</a>
                                <ul class="list-unstyled py-3 elements">
                                    <li class=""><a class="px-1" href="~/assets/">Element 1</a></li>
                                    <li class=""><a class="px-1" href="~/assets/">Element 2</a></li>
                                    <li class="element">
                                        <i class="fas fa-chevron-right fa-sm mr-5"></i>
                                        <a class="px-1" href="~/assets/">Element 3</a>
                                        <ul class="list-unstyled py-3">
                                            <li class=""><a class="px-3" href="~/assets/">Element 1</a></li>
                                            <li class=""><a class="px-3" href="~/assets/">Element 2</a></li>
                                            <li class=""><a class="px-3" href="~/assets/">Element 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin panel</a>
                            </li>
                            <li class="nav-item my-auto search">
                                <i class="fas fa-search" id="search"></i>
                                <ul class="list-unstyled py-3">
                                    <li class="d-flex px-3">
                                        <input id="input-search" type="text" placeholder="Search">
                                        <i class="fas fa-search my-auto" id="search"></i>
                                    </li>

                                </ul>
                            </li>
                            <li class="nav-item my-auto shop-cart">
                                <i class="fas fa-shopping-bag"></i>
                                <sup class="rounded-circle">0</sup>
                                <span>CART ($0)</span>
                                <ul class="list-unstyled py-3">
                                    <li class="">No products in the cart.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
        <div class="mobile-navbar position-absolute shadow-lg h-100 p-5">
            <i class="fas fa-times fa-lg" id="mobile-navbar-close"></i>
            <ul class="list-unstyled">
                <li><a href="~/assets/#">Home <i class="fas fa-caret-right fa-sm"></i></a></li>
                <ul class="list-unstyled">
                    <li class=""><a class="px-1" href="~/assets/">Home 1</a></li>
                    <li class=""><a class="px-1" href="~/assets/">Home 2</a></li>
                    <li class=""><a class="px-1" href="~/assets/">Home 3</a></li>
                </ul>
                <li><a href="~/assets/#">Pages <i class="fas fa-caret-right fa-sm"></i></a></li>
                <ul class="list-unstyled">
                    <li class=""><a class="px-1" href="~/assets/">Page 1</a></li>
                    <li class=""><a class="px-1" href="~/assets/">Page 2</a></li>
                    <li class=""><a class="px-1" href="~/assets/">Page 3</a></li>
                </ul>
                <li><a href="~/assets/#">Shop <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="~/assets/#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                </ul>
                <li><a href="~/assets/#">Portfolio <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="~/assets/#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                </ul>
                <li><a href="~/assets/#">Blog <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="~/assets/#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                </ul>
                <li><a href="~/assets/#">Elements <i class="fas fa-caret-right fa-sm"></i></a></a></li>
                <ul class="list-unstyled py-3">
                    <li class="">
                        <a class="px-3" href="~/assets/#">PRODUCT TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP PAGES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                    <li class="">
                        <a class="px-3" href="~/assets/#">SHOP TYPES <i class="fas fa-caret-right fa-sm"></i></a>
                    </li>
                    <ul class="list-unstyled py-3">
                        <li class=""><a class="px-3" href="~/assets/">Product Types 1</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 2</a></li>
                        <li class=""><a class="px-3" href="~/assets/">Product Types 3</a></li>
                    </ul>
                </ul>
            </ul>
        </div>
    </div>

</header>
